<header class="page-header" role="banner">
  <div style="display: flex; flex-wrap: wrap; justify-content: center">
    <img src="https://avatars.githubusercontent.com/u/81757839?v=4" width="160px"
      style="border-radius: 40px; object-fit: cover;">
    <div style="font-size: calc(3rem + 2vw);">
      <div>
        <strong>&nbsp;V i c t o r</strong>
        <br>
        <strong>&nbsp;W r i g h t</strong>
      </div>
    </div>

    <span class="" class2="site-footer-owner">
      <a href="{{ site.github.owner_url }}" class="btn">View on GitHub</a>
    </span>

  </div>
</header>