<section id="footer" class="page-header" style="padding-top: 1.5rem !important; padding-bottom: 2rem !important">
  Download PDF Files: &nbsp;
  <span>

    <a href="{{ site.files_root }}{{ site.file_1 }}" class="btn" target="_blank">Curriculum Vitae</a>
    <a href="{{ site.files_root }}{{ site.file_2 }}" class="btn" target="_blank">Recommendation</a>
    <a href="{{ site.files_root }}{{ site.file_3 }}" class="btn" target="_blank">WBS Certificate</a>
    <a href="{{ site.files_root }}{{ site.file_4 }}" class="btn" target="_blank">UOM Certificate</a>
    <a href="{{ site.files_root }}{{ site.file_5 }}" class="btn" target="_blank">C++ Certificate</a>
    <a href="{{ site.files_root }}{{ site.file_6 }}" class="btn" target="_blank">JFA Reference</a>
  </span>

  <footer class="site-footer" style="margin-top: 0 !important; padding-top: 1rem  !important;">
    <!-- {% if site.github.is_project_page %}
      <span class="site-footer-owner">
        <a href="{{ site.github.owner_url }}" class="btn">View on GitHub</a>
      </span>
    {% endif %} -->

    <span class="site-footer-credits">
      •&nbsp;
      <a href="https://vrw-gh.github.io/vrw-GH/" rel="noopener" target="_blank"
        title="https://vrw-gh.github.io/vrw-GH/">
        <button type="button">Profile Page</button>
      </a>
      &nbsp;•&nbsp;
      <a href="https://github.com/vrw-GH" rel="noopener" target="_blank" title="https://github.com/vrw-GH">
        <button type="button">On GitHub</button>
      </a>
      &nbsp;•
      <br>
      <i><small>
          This page was deployed by &nbsp;
          <a href="https://pages.github.com" target="_blank" rel="noopener" style="color: grey !important">GitHub
            Pages</a>
          &nbsp; using a modified &nbsp;
          <a href="https://pages-themes.github.io/cayman/" target="_blank" rel="noopener"
            style="color: grey !important">Caymen Theme</a>
        </small></i>
    </span>
  </footer>
</section>