
<section id="footer" class="page-header">
  {% if site.file_CV or site.file_WBS %}
    Files: &nbsp;
    <a href="{{ site.file_CV }}" class="btn" target="_blank">My CV</a>
    {% if site.file_WBS %}
      <a href="{{ site.file_WBS }}" class="btn" target="_blank">WBS Certificate</a>
    {% endif %}
  {% endif %}

  
  <footer class="site-footer">
    {% if site.github.is_project_page %}
      <span class="site-footer-owner">
        <a href="{{ site.github.owner_url }}" class="btn">View on GitHub</a>
      </span>
    {% endif %}
    <i><small>
      <span class="site-footer-credits">
        This page was deployed by &nbsp;
        <a href="https://pages.github.com" target="_blank">GitHub Pages</a>
        &nbsp; using a modified &nbsp;
        <a href="https://pages-themes.github.io/cayman/" target="_blank">Caymen Theme</a>
        .
      </span>
    </small></i>
  </footer>
      
</section>
